<!doctype html>
<html lang="en" data-framework="vue">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>VueTodoMVC</title>
	<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
	<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
	<link rel="stylesheet" href="css/app.css">
</head>

<body>
	<div id="app">
		<section class="todoapp">
			<header class="header">
				<h1>Orow's todos</h1>
				<input class="new-todo" type="text" v-model="inputVaule" @keyup.enter="add"
					placeholder="Add to do item..." autofocus>
			</header>
			<section class="main">
				<input id="toggle-all" class="toggle-all" type="checkbox" @click="selectAll">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<template v-for="(item, index) in filterItems">
						<li class="editing" v-if="editedItem !== null && editedItem.index === index">
							<input class="edit" v-model="item.text" @keyup.enter="editFinished(item)"
								@keyup.esc="cancelEdit(item)" v-focus="true">
						</li>
						<li :class="{completed: item.completed}" v-else>
							<div class="view">
								<input class="toggle" type="checkbox" v-model="item.completed"
									@change="changeTodo(index)">
								<label @click="editItem(item, index)">{{item.text}}</label>
								<button class="destroy" @click="removeTodo(index)"></button>
							</div>
						</li>

					</template>
				</ul>
			</section>
			<footer class="footer" v-if="items != ''">
				<span class="todo-count"><strong>{{todoLen}}</strong> item left</span>
				<ul class="filters">
					<li>
						<a href="#/all" :class="(filterTask == 'all')? 'selected' : ''"
							@click="filterTask ='all'">All</a>
					</li>
					<li>
						<a href="#/active" :class="(filterTask == 'active')? 'selected' : ''"
							@click="filterTask ='active'">Active</a>
					</li>
					<li>
						<a href="#/completed" :class="(filterTask == 'completed')? 'selected' : ''"
							@click="filterTask ='completed'">Completed</a>
					</li>
				</ul>
				<button class="clear-completed" @click="clearCompleted">Clear completed</button>
			</footer>
		</section>
	</div>

	<script src="node_modules/vue/dist/vue.js"></script>
	<script src="js/app.js"></script>
	<script>
		const storageLists = 'toDoMVC-vue';
		let todoStorage = {
			getToDos() {
				let todos = JSON.parse(localStorage.getItem(storageLists) || '[]')
				return todos
			},
			saveToDos(item) {
				localStorage.setItem(storageLists, JSON.stringify(item))
			}
		};
		new Vue({
			el: '#app',
			data: {
				inputVaule: '',
				items: todoStorage.getToDos(),
				todoLen: 0,
				editedItem: null, // 單一項目編輯的暫存，編輯的v-if判斷
				filterTask: 'all', // 用來篩選項目，預設為顯示全部
			},
			// 計算屬性，判定篩選項目
			computed: {
				filterItems() {
					if (this.filterTask === 'active') {
						return this.items.filter(item => !item.completed)
					} else if (this.filterTask === 'completed') {
						return this.items.filter(item => item.completed)
					} else {
						// 剩下就是'all'
						return this.items
					}
				},
			},
			methods: {
				add() {
					let todoContent = {
						text: this.inputVaule,
						completed: false,
					};
					this.items.push(todoContent);
					this.todoLen++;
					this.inputVaule = '';
				},
				removeTodo(index) {
					if (this.items[index].completed == false) {
						this.todoLen--;
					}
					this.items.splice(index, 1);
				},
				changeTodo(index) {
					// v-model綁定completed的狀態，在changeTodo函式中，需要以改變後狀態來判斷
					if (this.items[index].completed == true) {
						this.todoLen--;
						// this.items[index].completed = true;
					} else {
						this.todoLen++;
						// this.items[index].completed = false;
					}
				},
				clearCompleted() {
					for (let i = 0; i < this.items.length;) {
						if (this.items[i].completed == true) {
							// splice會改變陣列長度，所以只有在不刪除元素狀況下才會去執行行i++
							this.items.splice(i, 1);
						} else {
							i++;
						}
					}
				},
				selectAll() {
					if (this.todoLen == 0) {
						for (let i = 0; i < this.items.length; i++) {
							this.items[i].completed = false;
						}
						this.todoLen = this.items.length;
					} else {
						for (let i = 0; i < this.items.length; i++) {
							this.items[i].completed = true;
						}
						this.todoLen = 0;
					}
				},
				// editedItem是用來點擊後暫存編輯前的資料，不直接引入項目名稱是因為會連動，所以單純保存資料
				editItem(item, index) {
					// 多了一個index是要在html中用來判斷v-if顯示點擊的單一項目來編輯
					this.editedItem = {
						index: index,
						text: item.text,
						completed: item.completed
					};
				},
				// 編輯時按下enter，會直接清空暫存資料，v-if會等false就不顯示，內容直接綁定v-model
				editFinished(item) {
					this.editedItem = null
				},
				// 編輯時在按下enter前要取消，按下esc會執行
				// 因為v-model綁定輸入值，所以要從暫存區取回資料
				cancelEdit(item) {
					item.text = this.editedItem.text;
					this.editedItem = null;
				},
				initTodoLen() {
					let itemsLen = this.items.length;
					for (let i = 0; i < itemsLen; i++) {
						if (this.items[i].completed === false) {
							this.todoLen++;
						}
					}
				},
			},
			mounted() {
				this.initTodoLen();
			},
			watch: {
				items: {
					handler(items) {
						todoStorage.saveToDos(items);
					},
					deep: true // 偵聽陣列
				},
			},
			// auto focus，下方寫完後，在html中需要自動focus的元素加上v-focus="true"
			directives: {
				focus: {
					inserted(el) {
						el.focus()
					}
				}
			},
		});
	</script>
</body>

</html>